    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"rel="stylesheet">
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">
      
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Günün Randevuları
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Günün Kasa Toplamı
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">0 TRY</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Content Row -->
        <div class="row">
      
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Kazançlara Genel Bakış</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart" width="1037" height="320"></canvas>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Gelir Kaynakları</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                  <canvas id="myPieChart" width="486" height="245"></canvas>
                </div>
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Direct
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Social
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-info"></i> Referral
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Content Row -->
        <div class="row">
      
          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
      
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projeler</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">Sunucu Taşınması <span class="float-right">20%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Satış Takibi <span class="float-right">40%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Müşteri Veritabanı <span class="float-right">60%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Ödeme Detayları <span class="float-right">80%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Hesap Kurulumu <span class="float-right">Tamamlandı!</span></h4>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
      
          </div>
      
          <div class="col-lg-6 mb-4">
      
            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">İllüstrasyonlar</h6>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="Illustration">
                </div>
                <p>Projenize kaliteli svg illüstrasyonlar ekleyin, unDraw sayesinde sürekli güncellenen ve tamamen ücretsiz svg resimler sunulmaktadır. <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a> üzerinden daha fazla illüstrasyon bulabilirsiniz.</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw İllüstrasyonları →</a>
              </div>
            </div>
      
          </div>
        </div>
      
      </div>
      

<div class="mt-2">
    <div class="row">

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm6 col-12 mt-1">
            <label>Departman</label>
            <select name="department" [(ngModel)]="selectedDepartmentValue" class="form-control">
                <option [value]="0">Seçiniz..</option>
                @for (department of departments; track department) {
                <option [value]="department.value">{{department.name}}</option>
                }
            </select>
        </div>
        @if(selectedDepartmentValue > 0 ){
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm6 col-12 mt-1">
            <label>Doktor</label>
            <select name="doctor" [(ngModel)]="selectedDoctorId" class="form-control">
                <option [value]="0">Seçiniz..</option>
                @for (doctor of doctors; track doctor) {
                <option [value]="doctor.id">{{doctor.fullName}}</option>
                }
            </select>
        </div>
        }
    </div>

    <div class="mt-2">
            Burada Takvim Olacak
    </div>
</div>
<!--  Create Modal -->
<div class="modal fade" id="addModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Yeni Randevu Oluştur </h1>
          <button type="button"  #addModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
        </div>
        <form #addForm="ngForm" formValidate autocomplete="off" (ngSubmit)="create(addForm)">
          <div class="modal-body">
            <div class="form-group">
                <span>{{createModel.startDate}} - {{createModel.endDate}}</span>
            </div>
            <div class="form-group mt-2">
                <label for="identityNumber" >Kimlik No</label>
                <input class="form-control" type="text" [(ngModel)] ="createModel.identityNumber" name="identityNumber" required minlength="3">
                <div class="invalid-feedback"></div>
              </div>
            <div class="form-group mt-2">
              <label for="firstName">Adı </label>
              <input class="form-control" type="text" [(ngModel)] ="createModel.firstName" name="firstName" required minlength="3">
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group mt-2">
              <label for="lastName" >Soyadı</label>
              <input class="form-control" type="text" [(ngModel)] ="createModel.lastName" name="lastName" required minlength="3">
              <div class="invalid-feedback"></div>
            </div>
            <!-- <div class="form-group mt-2">
              <label for="phoneNumber" >Telefon</label>
              <input class="form-control" type="tel" [(ngModel)] ="createModel.phoneNumber" name="phoneNumber" required minlength="10" maxlength="11">
              <div class="invalid-feedback"></div>
            </div> -->
            <div class="form-group mt-2">
              <label for="address" >Adres</label>
              <textarea class="form-control" type="text" [(ngModel)] ="createModel.fullAddress" name="address" required minlength="5"></textarea>
              <div class="invalid-feedback"></div>
            </div>
           
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button> -->
            <button type="submit" class="btn btn-success w-100">Kaydet</button>
          </div>
      </form>
      </div>
    </div>
  </div>
