<div class="mt-4 d-flex justify-content-between align-items-center">
  <h3>Hasta Sayfası</h3>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Takvim</li>
      </ol>
    </nav>
</div>
<div class="calendar-container">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    (dayClicked)="dayClicked($event)"
    [events]="events">
  </mwl-calendar-month-view>
</div>
