.calendar-item-training {
    /* // color: #2473c1 !important; */
    font-weight: 500 !important;
    margin: 5px !important;
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important;
}
.calendar-item-activity {
    /* // color: #d89d54 !important; */
    font-weight: 500 !important;
    margin: 5px !important;
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important;
    /* // background-color: #fffbd1;
    // border-color: #ecd7ad; */
}

.c-red{
    background-color: #ffd2df;
    border-color: #ed0b0b;
    color: #ed0b0b;
}

.c-green{
    background-color: #eaffdb;
    border-color: #558b2d;
    color: #558b2d;
}

.c-blue{
    background-color: #d2e7ff;
    border-color: #1367c9;
    color: #1367c9;
}

.c-orange{
    background-color: #ffe9d1;
    border-color: #ff8f17;
    color: #ff8f17;
}

.c-yellow{
    background-color: #fff3c4;
    border-color: #f1c40f;
    color: #f1c40f;
}

.c-brown{
    background-color: #ffdac2;
    border-color: #d35400;
    color: #d35400;
}

.c-grey{
    background-color: #c4cacf;
    border-color: #2e4053;
    color: #2e4053;
}

.c-purple{
    background-color: #f5ddff;
    border-color: #6c3483;
    color: #6c3483;
}

