<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Özel Lotuspital Evde Bakım Merkezi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/personnels" aria-current="page" >Personel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/patients" aria-current="page" >Hastalarımız</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Ara">
          <button class="btn btn-outline-success" type="submit">Ara</button>
        </form> -->
        <span class="me-4">Mehmet Onat</span>
        <button (click)=" signOut()" class="btn btn-outline-danger">
            <i class="fa-solid fa-power-off"></i>
        </button>
      </div>
    </div>
  </nav>

 <!-- <div class="nav flex-column" aria-orientation="vertical"> 
    <a class="nav-link active" data-bs-toggle="hasta">Hasta</a>
    <a class="nav-link active" data-bs-toggle="hasta">Doktor</a>
    <a class="nav-link active" data-bs-toggle="hasta">Randevu</a>
 </div> -->